@use "./variables" as variables;


@keyframes btn-pressed {
    from {
        border-radius: 3px;
        background-color: variables.$key-hovered-color;
    }
    to {
        border-radius: 50px;
        background-color: variables.$border-color;
    }
  }

#keyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 6px;
    padding-bottom: 0;
    box-sizing: border-box;
    background-color: variables.$background-color;
    border: 3px solid variables.$border-color;
    border-radius: 5px;

    .keyboard-row {
        width: 100%;
        height: 40px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        gap: 6px;

        .key {
            width: 40px;
            height: 40px;
            font-weight: 500;
            line-height: 40px;
            text-align: center;
            background-color: variables.$key-color;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;

          &:hover{
            background-color: variables.$key-hovered-color;
          }

            &.pressed {
                animation: 0.5s btn-pressed;
                border-radius: 50px;
                background-color: variables.$border-color;
            }
        }

        .shift-key {
            display: none;
        }

        .alt-key {
            display: none;
        }

        .upper-case-key {
            display: none;
        }
    }

    &.upper-case {
        .lower-case-key {
            display: none;
        }
        .upper-case-key {
            display: block;
        }
    }

    &.alt-keyboard {
        .eng-key {
            display: none;
        }

        .alt-key {
            display: block;
        }
    }

    &.shift-enabled {
        .non-shift-key {
            display: none;
        }

        .shift-key {
            display: block;
        }
    }
}
